
@{
    ViewData["Title"] = "index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Gallery Start-->
<div class="gallery-area">
    <div class="container-fluid p-0">
        <div class="row no-gutters">
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img">
                            <img src="images/gallery/gallery_01.png" alt="">
                        </div>
                        <div class="g-caption1">
                            <span>Software Development</span>
                            <h4>Floride Chemicals Factory</h4>
                        </div>
                        <div class="g-caption2">
                            <span>Software Development</span>
                            <h4>Floride Chemicals Factory</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                            <a href="work.html" class="read-btn">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img">
                            <img src="images/gallery/gallery_02.png" alt="">
                        </div>
                        <div class="g-caption1">
                            <span>IT Support</span>
                            <h4>Floride Chemicals Factory</h4>
                        </div>
                        <div class="g-caption2">
                            <span>IT Support</span>
                            <h4>Floride Chemicals Factory</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                            <a href="work.html" class="read-btn">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img">
                            <img src="images/gallery/gallery_03.png" alt="">
                        </div>
                        <div class="g-caption1">
                            <span>Graphic Design</span>
                            <h4>Floride Chemicals Factory</h4>
                        </div>
                        <div class="g-caption2">
                            <span>Graphic Design</span>
                            <h4>Floride Chemicals Factory</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                            <a href="work.html" class="read-btn">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6">
                <div class="gallery-box">
                    <div class="single-gallery">
                        <div class="gallery-img">
                            <img src="images/gallery/gallery_04.png" alt="">
                        </div>
                        <div class="g-caption1">
                            <span>Electrical Installations</span>
                            <h4>Floride Chemicals Factory</h4>
                        </div>
                        <div class="g-caption2">
                            <span>Electrical Installations</span>
                            <h4>Floride Chemicals Factory</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur smo adipiscing elit, sed do eiusmod tempor inciut labore et dolore magna ali.</p>
                            <a href="work.html" class="read-btn">Read more</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Gallery End-->
