
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script>
    $("#nav-home").removeClass("active");
    $("#nav-software").addClass("active");
</script>

<h1>Software</h1>


